.container{
    background-color: navy;
    display: flex;
    text-align: center;
    margin-bottom: 25px;
}

.boxes{
    color: aquamarine;
    border: 2px solid red;
    height: 200px;
    width: 350px;
}

button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 1rem;
}

.box{
    border: 3px solid blueviolet;
    margin-top: 15px;
    padding: 10px;
    border-radius: 1rem;
}


/* Applying  Event Listeners */
.hidden-content{
    display: none;
}
.hidden-content.reveal-btn{
    display: block;
}

#sports{
    width: 150px;
    border: 3px solid red;
    border-radius: 1rem;
    padding: 30px;
    background-color: black;
    color: aquamarine;
}

li{
    border: 2px solid gold;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
}



